.car {
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  padding: 12px 20px;
  text-align: center;
  margin: 10px;
}
.brand {
  display: block;
  color: #282c34;
  margin-bottom: 20px;
}
.car p {
  color: #000;
  font-weight: bold;
  cursor: pointer;
}
.car button {
  margin: 2px;
  background-color: rgb(55, 0, 255);
  color: rgb(255, 255, 255);
  border: 0px;
  border-radius: 4px;
  padding: 10px 100px;
  cursor: pointer;
}
.car button:hover {
  background-color: rgb(70, 79, 200);
}
.car button.delete {
  background-color: rgb(255, 0, 0);
}
.car button.delete:hover {
  background-color: rgb(223, 57, 45);
}